<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"> 
        <h1> PRODUCTS </h1>
        <!-- for loop forating in html -->
        {% for product in products %}
        <div>
            <p> {{ product.name}} </p>
            <p> {{ product.description}} </p>
            <p> {{ product.proce}} </p>

        {% endfor %}
        </div>
    </div>
</body>
</html>